# Data
data/raw/
data/processed/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db